body {
    background: #a0b9d2;
    font-family: LCARSRegular, Helvetica, Arial, sans-serif;
}

div.line {
    display: inline-block;
}

h1 {
    display: inline-block;
    width: auto;
    margin-top: 0px;
}

.interface {
    background: #000;
    color: #fff;
    border-radius: 5px;
}
