@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
body {
    font-family: Montserrat, sans-serif;
    background: #a0b9d2;
}

h1 {
    display: inline-block;
    width: auto;
    margin-top: 0px;
}

.interface {
    background: #000;
    color: #fff;
    border-radius: 5px;
}
